<!doctype html>
<html>
	<head>
		<title>Post Content</title>
		<script src="https://cdn.ckeditor.com/ckeditor5/12.3.1/classic/ckeditor.js"></script>


	<body>
		<h1>Blog System</h1>
		<div>
			<h2 href="/index">Home</h2>
			<h2 href="/appPost">Add Post</h2>
		</div>

		<div>
			<h1>Add Post</h1>
			<form method="POST" action="/upload" enctype="multipart/form-data">
				<h4>Title</h4> <input type="text" name="title" placeholder="title">
				<h4>Category</h4> <select name="category">
							<option value="technology">Technology</option>
							<option value="buisness">Buisness</option>
						</select>
				<h4>Body</h4>
			<textarea name="content" id="editor">

			 </textarea>
		</div>
		<input type="file" name="pic" accept="image/*">
		<br>
  <input type="submit">
		<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
</form>
	</head>
	</body>
</html>